@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 0, 0, 0.95);
    color: #DADADB;
    max-width: 1300px;
    margin: 0 auto;
    font-size: 1rem;
}

.header-section {
    margin-block: 20px 50px;
    text-align: center;
}

.header-section h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.header-section .img img {
    width: 100px;
    margin: 10px;
}

.form-section {
    width: 100%;
    margin: 20px auto;
}

.form-control {
    background-color: #2f2f2f;
    outline: none;
    resize: none;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s ease-in-out;
}


textarea,
.btn {
    color: white;
    width: 100%;
    border-radius: 8px;
    border: none;
    padding: 15px;
}

.btn {
    color: black;
    cursor: pointer;
    margin-top: 10px;
    background-color: rgb(255, 255, 255, 0.7);
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.btn:hover {
    background-color: rgb(255, 255, 255, 0.5);
}

.hr-line {
    margin: 70px 0 20px;
    border: 1px solid #343536;
}

.answer-section {
    margin: 30px 0;
    position: relative;
    word-wrap: break-word;
}

.answer-section .question {
    background-color: #343536;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
ol,
ul {
    margin: 0;
}

h1 {
    font-size: min(6vw, 2rem);
}

a {
    color: #3b82f6;
}


.answer-section .answer {
    /* background-color: #0e0e0f; */
    /* padding:  50px 0; */
    background-color: transparent;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    color: rgba(255, 255, 255, 0.7);
}

ol li {
    margin: 10px 0;
}

ul li {
    margin: 10px 0;
    display: inline;
}

strong {
    display: inline-block;
    margin: 10px 0;
}

h3 {
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

pre {
    white-space: pre-wrap;
    /* word-wrap: break-word;  */
}

code {
    border-radius: 10px;
}

h2 {
    padding: 10px 0;
}

.copy-icon {
    position: absolute;
    background-color: #000000;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -10px;
    right: -10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}


.copy-icon:hover {
    background-color: #343536;
}

/* css media query */


.examples {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.examples .div-examples {
    background-color: transparent;
    width: 100%;
    max-width: 380px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid gray;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin: 10px 0 0 0;
}

.examples .div-examples:hover {
    background-color: #1d1e1f;
}

.div-examples h4 {
    font-size: 1rem;
}

.div-examples p {
    font-size: 0.9rem;
    margin: 0;
}


@media only screen and (max-width : 820px) {

    .header-section,
    .form-section,
    .answer-section {
        padding: 15px;
    }
}


/* Apply styles to the image container */
.img-container {
    position: relative;
    /* Required for absolute positioning of the image */
    animation: rotate 10s linear infinite;
    /* Apply animation to the container */
}

/* Apply styles to the image */
.rotate-image {
    width: 100%;
    /* Adjust dimensions if needed */
    height: 100%;
    /* Adjust dimensions if needed */
}

/* Define the rotation animation */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}